<h1>hhhhhhhhhhhhhhh</h1>

<% name.forEach(function(name){ %>
    <li><%= name %></li>
<% }); %>


<form action="/add" method="POST">
    <input type="text" name="ADDfriend" placeholder="VIV">
    <button>Submit</button>
</form>