<!DOCTYPE html>
<html>
<head>
  <title>Booked Ticket</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>








</head>

<body><!-- <div class="landing-header"> -->



  <nav  style ="margin-top:1px;padding-top:0px;background-color:darkcyan;" class="landing-header navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-demo1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a href="###" style="color:gold" class="navbar-brand"><i style="color:red" class="fab fa-battle-net"></i> Helpline</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-demo1">
  
  <div class ="nav navbar-nav">
    
    <li><a style="color:black" href="/"><i class="fas fa-home"></i>Go to Home</a></li>
    
    
  </div>
  <div class ="nav navbar-nav navbar-right">
    <!----<li><button  class="btn btn-success">Login</button></li>----->
    <!-- <li><a href="/register"><i class="fas fa-user-plus"></i> Signup</a></li> -->
    <li><a style="color:lime" href="/login"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    
  </div>
    </div>

  </nav>
  <div class="landing-header">




<h1 style="text-align: center;color:blue;">Thank You !!! for Visiting Our Site</h1>





<br><br>



<h4 style="text-align: center;color:red;"><u>For any Query or Info YOU can Reach to us Here..</u></h4>

<hr>

  <div>
    <span style="margin-left:45px">
        <span style="color:orange">Contact No:</span> <span style="font-family:Helvetica"> (+91) 8789632518</span>
    </span>
    <span style="float:right;margin-right:512px">
         <span style="font-family: Charcoal;color:orange" >Email Id:</span><span style="font-family:Helvetica"> awaviv512@gmail.com</span>
    </span>


  </div>
  <br>

<hr>

  <div>
    <span  style="margin-left:45px">
          <span style="font-family: Charcoal;color:gold">Other Contacts:</span><span  style="font-family:Helvetica"> (+91) 8794152330,(+91) 8223667901</span>
    </span>
       <div style="float:right;margin-right:523px;"> 
        <span style="font-family: Charcoal;color:gold">Email:</span><span style="font-family:Helvetica">trainresvn@18gmail.com</span>
      </div>

  </div>

<hr>


  <hr>

  <br>

  <br>














  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  

</body>
</html>

                         