<!DOCTYPE html>
<html>
<head>
	<title>Online Adarsh REservation</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="/views/Railway.css">
	
</head>
<body>


<!--                                 NavBar cOmpleteed                                    --------------------->
<div >
	<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-demo1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a href="###" class="navbar-brand"> <i class="fab fa-accusoft"></i>Railway Reservation</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-demo1">
	
	<div class ="nav navbar-nav">
		
		<li><a href="/"><i class="fas fa-home"></i> Home</a></li>
		<li><a href="/helpline"><i class="fa fa-phone" aria-hidden="true"></i>
 Helpline</a></li>
		
	</div>
	<div class ="nav navbar-nav navbar-right">
		<!----<li><button  class="btn btn-success">Login</button></li>----->
		<li><a href="/register"><i class="fas fa-user-plus"></i> Signup</a></li>
		<li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
		
	</div>
    </div>

	</nav>



<h1><strong>SIGNUP TO YOUR ACCOUNT</strong></h1>




<div class="container" >
	<div class="jumbotron" id="abcd">
     <form class="form-horizontal" action="/register" method="POST">
  <div class="form-group">
    <label for="inputUsername3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="username" name="username" pattern=".{7,}" required title="There must be atleast 7 Character"class="form-control" id="inputEmail3" placeholder="username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" pattern=".{5,}" required title=" Atleast 5 Character Strong Password is Recommended"  class="form-control" id="inputPassword3" placeholder="password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div><button  class="btn btn-success btn-lg" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span> REGISTER</button></div>
    </div>
  </div>
</form>

  


</div>

</div>

</div>





      














	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
  

</body>
</html>